</div>

<footer>
  <div class="container">
    <span class="copyright">&copy; {{ .Site.LastChange.Year }} {{ .Site.Title }} - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>

	    | <a href="/about/">[ about ]</a> | <a href="https://twitter.com/cyllell">[ twitter ]</a> | <a href="/index.xml">[ RSS ]</a>
    </span>
  </div>
</footer>

</body>
</html>
