{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">cy</span><span class="base09">l</span><span class="base0a">l</span><span class="base0b">e</span><span class="base0c">l</span><span class="base0d">l</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<!--<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>-->

<div style="text-align: center;">
	Helping you cut through Internet Censorship
</div>
